@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Trad:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
background-color: rgba(255, 192, 203, 0.692);

}
.image-fundo {
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    border: none;
    background-image: url(https://i.pinimg.com/564x/d3/62/18/d36218d59db3bb2a503e46e6032b0f9f.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.7;
    position: absolute;
    inset: 0 ;
    z-index: -1;

}
@media (width < 40rem) {
    html{
        font-size: 70%;
    }
}

header{
    padding-top: 32px;
    height: calc(120px + 32px);    
}
header div{
    width: 120px;
    margin: auto;
    background:  rgba(231, 191, 198, 0.904);
    border-radius: 100%;

    display: flex;
    padding: 4px;
    transition: transform .4s;
}
header div:hover{
    transform: scale(1.1);
}
header img {
    background-position: center;
    width: 100%;
    border-radius: 50%;
}
h1 {
    
    color: white;
    text-align: center;
    font-family: "Playwrite ZA", cursive;
    font-optical-sizing: auto;
}
p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Mulish";
}
.content {
    border-radius: 30px;
   background-color: #e7a8b29f;
    margin: 3rem;
}

/*animações sobre*/


header div{
    animation: fromtop .7s .2s backwards;
    
}
.content{
    animation: fromtop .7s .2s backwards;
    
}

p, h1{
    animation: frombottom .7s  backwards;
}





@keyframes fromtop{
    from{
         opacity: 0;
        transform: translatex(-30px);
    }

    to{
        opacity: 1;
        transform: translatex(0);
    }
    
}

@keyframes frombottom{
    from{
        opacity: 0;
       transform: translatex(30px);
   }

   to{
       opacity: 1;
       transform: translatex(0);
   }
}
